@import './styles/global.css';
@import './styles/navbar.css';
@import './styles/footer.css';
@import './styles/home.css';
@import './styles/programs.css';
@import './styles/about.css';
@import './styles/login.css';
@import './styles/addcart.css';

/* Hide scroll bar for website */
body, html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* You can remove all other CSS from this file after verifying the split. */